@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 59, 43, 34; /* habesha-espresso */
  --background-start-rgb: 247, 243, 235; /* habesha-cream */
  --background-end-rgb: 247, 243, 235;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
